{% extends 'base.html' %}

{% block content %}
<h1>{{test.name}}</h1>
({{test.at_start}} - {{test.at_finish}})
<br>
<p>{{test.description}}</p>
<br>
Промежуток выполнения теста: {{test.at_start}} - {{test.at_finish}}
<br>
Статус теста: {{status}}
<br>
{% if status == 'open' %}
<form action="" method="post">
    {% csrf_token %}
    <button>Начать тестирование</button>
</form>
{% endif %}
{% if status == 'close' %}
    Тест закрылся: {{test.at_finish}}
{% endif %}
{% if status == 'wait' %}
    Тест будет доступен: {{test.at_start}}
{% endif %}

<br>
<a href="">Вернуться к курсу</a>
{% endblock %}