{% extends 'base.html' %}

{% block content %}
<h1>{{test.name}}</h1>
({{test.at_start}} - {{test.at_finish}})
<br>
<p>{{test.description}}</p>
<br>
Промежуток выполнения теста: {{test.at_start}} - {{test.at_finish}}
<br>
Для прохождения теста, нужно набрать: {{test.success_percent}}%
<br>
Статус теста: {{status}}
<br>
Доступно попыток: {{available_attempts}}
<br>
{% if status == 'open' and available_attempts > 0 %}
<form action="{% url 'startcertification' test.id %}" method="post">
    {% csrf_token %}
    <button>Начать тестирование</button>
</form>
{% endif %}
{% if status == 'close' %}
    Тест закрылся: {{test.at_finish}}
{% endif %}
{% if status == 'wait' %}
    Тест будет доступен: {{test.at_start}}
{% endif %}

<br>
<a href="{% url 'coursedetail' course_id %}">Вернуться к выбору теста</a>
{% endblock %}