.env
.env.dev
.venv
env/
venv/
ENV/
env.bak/

dist
db.sqlite3

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

secret_keys.py

log/debug.log

logs/debug.log

*.log


.vscode
.vscode/